@import "tailwindcss";

@theme {
  --color-primary: var(--accent-indigo);
  --color-primary-hover: #3d1ec2;
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
}
